* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --color-primary: #7bd0b2;
    --color-primary-light: #fdfdff;
    --color-primary-dark: #fdfbfb;
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f3f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #666;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::selection {
    background: #fff;
    color: cornflowerblue;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px, 10px : 16px = 62.5% */
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}

body {
    /* background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)); */
    background: cornflowerblue;
    font-family: Krub, sans-serif;
    padding: 2rem 4rem;
}

#root {
    /* margin: 4rem auto; */
    max-width: 155rem;
    height: 90vh;
    /* background-image:var(--color-primary-light); */
}

.app {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-dark);
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 10%;
    /* background: green; */
    padding: 1rem;
    background: #dfdfdf;
    border-top-left-radius: 5rem;
}

.title {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.logo {
    font-size: 2.8rem;
    grid-area: text;
    /* font-family: 'Sarpanch', sans-serif; */
    font-weight: 900;
    margin: 0;
    padding: 3px;
    color: rgba(0, 0, 0, .5);
    text-shadow: -.6rem 0 0 rgba(227, 6, 19, 0.7), -.4rem 0 0 rgba(255, 237, 0.3), -.2rem 0 rgba(0, 149, 227, 0.7);
    /* .3rem .2rem 0 rgba(227, 6, 19, 0.7), -.4rem -.2rem 0 rgba(255, 237, 0.3), -.2rem .1rem rgba(0, 149, 227, 0.7); */
}

.content {
    display: flex;
    height: 90%;
}

.sidebar {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3b3a58;
    color: #fff;
    padding-bottom: 1rem; /* for footer*/
    border-bottom-right-radius: 5rem;
}

.video__container {
    /* background: red; */
    display: flex;
    flex-direction: column;
    width: 70%;
}

.video__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    color: #fff;
}

.video__title {
    font-size: 1.8rem;
    font-weight: 900;
}

.video__description {
    font-size: 1.3rem;
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.videos__list {
    list-style: none;
}

.video__list-container {
    display: flex;    
}

.footer {
    align-self: center;
    font-size: 1.2rem;
    text-align: center;
}

.video__list-item {
    position: relative;
    cursor: pointer;
}

.video__list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #5776b7;
    transform: scaleY(0);
    transition: transform .2s, width .3s cubic-bezier(1,0,0,1) .2s, background-color .1s;
}

.video__list-item:hover::before, .video__list-item--active::before {
    transform: scaleY(1);
    width: 100%;
}

.video__list-item:active::before {
    background-color: #5776b7;
}

.video__list-item--thumb {
    z-index: 10;
}

.video__list-item--title {
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 10;
}

.video__frame {
    height: 80%;
    width: 100%;
}

.video {
    width: 100%;
    height: 100%;
    border: none;
}

.video__details {
    height: 20%;
    width: 100%;
}

.search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
}

.search {
    width: 90%;
    border: none;
    background: #f3f2f2;
    border-radius: 10rem;
    border: none;
    font-size: 1.7rem;
    font-family: inherit;
    padding: .8rem 1.5rem;
    transition: all .2s;
    margin-right: -3.5rem;
}

.search:focus {
    outline: none;
    width: 100%;
    background: #f0eeee;
}

.search::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search:focus + .search__button {
    background: #f0eeee;
}

.search__button {
    border: none;
    background: #f3f2f2;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translate(2px);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999;
}